body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom right, #ede1c3, #cdbf9b);
}

body {
    height: 100%;
}

.text-papyrus {
    color: #3b2f1d;
}

/* Reduce spacing and button size */
.dataTables_filter input {
    padding: 4px 6px;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px 8px;
    margin: 0 2px;
    font-size: 0.8rem;
    border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5rem;
}

table.dataTable td {
    padding: 6px 8px;
}

table.dataTable thead th {
    padding: 6px 8px;
}

.ui-autocomplete {
    position: absolute; /* <- EZ FONTOS! */
    z-index: 9999;
    max-height: 12rem;
    max-width: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border: 2px solid #facc15;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    padding: 0.5rem 0;
}


/* Dropdown item */
.ui-menu-item {
    padding: 5px 5px;
    /* space between items */
    cursor: pointer;
    /* rounded-md */
}

.ui-menu-item-wrapper {
    padding: 5px 20px;
    /* space between items */
    cursor: pointer;
    border-radius: 0.375rem;
    /* rounded-md */
}

/* Active (hovered or selected) item */
.ui-menu-item-wrapper.ui-state-active {
    background-color: #fef08a;
    /* Tailwind yellow-200 */
    color: #3b2f1d;
}