body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: blur(5px);
}

.navbar, .footer {
    background-color: #343a40;
    color: #ffffff;
}

.navbar a, .footer a {
    color: #ffffff;
}

.footer {
    padding: 10px 0;
    text-align: center;
}

.content, .description {
    padding: 20px;
}

.image-fluid {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.digital-clock {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 3rem;
    background: rgba(52, 58, 64, 0.75);
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.date {
    font-size: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .digital-clock {
        font-size: 1.5rem;
        padding: 15px 20px;
    }

    .date {
        font-size: 0.8rem;
    }

    .image-fluid {
        max-width: 100%;
    }
}
