body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header-image {
    width: 100%;
    object-fit: cover;
}

.content, .description {
    padding: 20px;
}

.navbar, .footer {
    background-color: #343a40;
    color: #ffffff;
}

.navbar a, .footer a {
    color: #ffffff;
}

.footer {
    padding: 10px 0;
    text-align: center;
}

.image-fluid {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.align-items-center {
    display: flex;
    align-items: center;
}